@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    I am changing this without build from Visual studio<br />
    Kochi<br />
    <abbr title="Phone">P:</abbr>
    98869900 this was changed after build succeed
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">azure.test@marlabs.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>