@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Infopark<br />
    Kochi<br />
    <abbr title="Phone">P:</abbr>
    23232323
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">supportt@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>